{% extends 'base.html.twig' %}

{% block title %}New Genre{% endblock %}

{% block body %}
    
    <br><br><br><br><br><br><br><br>
    <div align="center" class="formulaire uk-width-1-2  uk-card uk-card-default uk-card-body uk-align-center " style="margin-bottom:48px">
        <h1>Créer un nouveau genre</h1>
        {{ include('genre/_form.html.twig') }}
    </div>
    <br><br><br><br><br><br><br><br>

{% endblock %}
