{% extends 'base.html.twig' %}

{% block title %}New Livre{% endblock %}

{% block body %}
    <br><br>
    <div align="center" class="formulaire uk-width-1-2  uk-card uk-card-default uk-card-body uk-align-center" style="margin-bottom:46px">
        <h1>Create new Livre</h1>
        {{ include('livre/_form.html.twig') }}
    </div>
    <br><br>

{% endblock %}
