{% extends 'base.html.twig' %}

{% block title %}New Auteur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="{{asset('assets/style.css')}}"/>
{% endblock %}

{% block body %}
<br><br>
    <div align="center" class="formulaire uk-width-1-2  uk-card uk-card-default uk-card-body uk-align-center " style="margin-bottom:46px">
        <h1>Créer un nouveau Auteur</h1>
        {{ include('auteur/_form.html.twig') }}
    </div>
    <br><br>

{% endblock %}
